@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        body {
            margin-top: 20px;
        }

        .bg-light-gray {
            background-color: #f7f7f7;
        }

        .table-bordered thead td, .table-bordered thead th {
            border-bottom-width: 2px;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
        }

        .table-bordered td, .table-bordered th {
            border: 1px solid #dee2e6;
        }


        .bg-sky.box-shadow {
            box-shadow: 0px 5px 0px 0px #00a2a7
        }

        .bg-orange.box-shadow {
            box-shadow: 0px 5px 0px 0px #af4305
        }

        .bg-green.box-shadow {
            box-shadow: 0px 5px 0px 0px #4ca520
        }

        .bg-yellow.box-shadow {
            box-shadow: 0px 5px 0px 0px #dcbf02
        }

        .bg-pink.box-shadow {
            box-shadow: 0px 5px 0px 0px #e82d8b
        }

        .bg-purple.box-shadow {
            box-shadow: 0px 5px 0px 0px #8343e8
        }

        .bg-lightred.box-shadow {
            box-shadow: 0px 5px 0px 0px #d84213
        }


        .bg-sky {
            background-color: #02c2c7
        }

        .bg-orange {
            background-color: #e95601
        }

        .bg-green {
            background-color: #5bbd2a
        }

        .bg-yellow {
            background-color: #f0d001
        }

        .bg-pink {
            background-color: #ff48a4
        }

        .bg-purple {
            background-color: #9d60ff
        }

        .bg-lightred {
            background-color: #ff5722
        }

        .padding-15px-lr {
            padding-left: 15px;
            padding-right: 15px;
        }

        .padding-5px-tb {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .margin-10px-bottom {
            margin-bottom: 10px;
        }

        .border-radius-5 {
            border-radius: 5px;
        }

        .margin-10px-top {
            margin-top: 10px;
        }

        .font-size14 {
            font-size: 14px;
        }

        .text-light-gray {
            color: #d6d5d5;
        }

        .font-size13 {
            font-size: 13px;
        }

        .table-bordered td, .table-bordered th {
            border: 1px solid #dee2e6;
        }

        .table td, .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
    </style>
</head>
<body>
    <div class="form-row">
        <label><b style="color:red;">Note: As if the student has only 3 days(M,W,F) scheduled for a week and a 3 subjects only (Math, Science, English)</b></label>
        <br />
        <label><b>Teacher should only substitute with only one teacher schedule.</b></label>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Please select role
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Student</a>
            <a class="dropdown-item" href="#">English Teacher</a>
            <a class="dropdown-item" href="#">Math Teacher</a>
            <a class="dropdown-item" href="#">Science Teacher</a>
            <a class="dropdown-item" href="#">Sectional head and principal</a>
        </div>
    </div>

    <div id="leaveOnID" style="display:none;">
        <label>Leave On</label>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="Mon_checkbox">
            <label class="custom-control-label" for="Mon_checkbox">Monday</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="Wed_checkbox">
            <label class="custom-control-label" for="Wed_checkbox">Wednesday</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="Fri_checkbox">
            <label class="custom-control-label" for="Fri_checkbox">Friday</label>
        </div>
        <input id="savechanges_id" class="btn btn-primary" type="button" name="name" value="SAVE CHANGES" />
    </div>

    <br /><br />

    <div id="tableviewID" class="container" style="display:none;">
        <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">
                            Time
                        </th>
                        <th class="text-uppercase">Monday</th>
                        <th class="text-uppercase">Wednesday</th>
                        <th class="text-uppercase">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle">09:00am</td>
                        <td>
                            <span class="english_cls bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                            <span class="english_leave_mon_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="english_avalableslot_mon_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="english_cls margin-10px-top font-size14">9:00-10:00</div>
                        </td>
                        <td>
                            <span class="science_cls bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Science</span>
                            <span class="science_leave_wed_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="science_avalableslot_wed_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="science_cls margin-10px-top font-size14">9:00-10:00</div>
                        </td>
                        <td>
                            <span class="science_cls bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Science</span>
                            <span class="science_leave_fri_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="science_avalableslot_fri_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="science_cls margin-10px-top font-size14">9:00-10:00</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle">10:00am</td>
                        <td>
                            <span class="math_cls bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Math</span>
                            <span class="math_leave_mon_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="math_avalableslot_mon_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="math_cls margin-10px-top font-size14">10:00-11:00</div>
                        </td>
                        <td>
                            <span class="english_cls bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                            <span class="english_leave_wed_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="english_avalableslot_wed_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="english_cls margin-10px-top font-size14">10:00-11:00</div>
                        </td>
                        <td>
                            <span class="science_cls bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Science</span>
                            <span class="science_leave_fri_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="science_avalableslot_fri_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="science_cls margin-10px-top font-size14">10:00-11:00</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle">11:00am</td>
                        <td>
                            <span class="math_cls bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Math</span>
                            <span class="math_leave_mon_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="math_avalableslot_mon_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="math_cls margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                        <td>
                            <span class="english_cls bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                            <span class="english_leave_wed_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="english_avalableslot_wed_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="english_cls margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                        <td>
                            <span class="math_cls bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Math</span>
                            <span class="math_leave_fri_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="math_avalableslot_fri_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="math_cls margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle">12:00pm</td>
                        <td>
                            <span class="science_cls bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Science</span>
                            <span class="science_leave_mon_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="science_avalableslot_mon_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="science_cls margin-10px-top font-size14">12:00-1:00</div>
                        </td>
                        <td>
                            <span class="math_cls bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Math</span>
                            <span id="eng_sub1" class=" bg-primary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">English Teacher Substitute</span>
                            <span class="math_leave_wed_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="math_avalableslot_wed_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="math_cls margin-10px-top font-size14">12:00-1:00</div>
                        </td>
                        <td>
                            <span class="math_cls bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Math</span>
                            <span class="math_leave_fri_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="math_avalableslot_fri_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="math_cls margin-10px-top font-size14">12:00-1:00</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle">01:00pm</td>
                        <td>
                            <span class="science_cls bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Science</span>
                            <span class="science_leave_mon_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="science_avalableslot_mon_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="science_cls margin-10px-top font-size14">1:00-2:00</div>
                        </td>
                        <td>
                            <span class="math_cls bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Math</span>
                            @*<span class="math_leave_wed_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>*@
                            <span class="math_leave_wed_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="math_avalableslot_wed_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="math_cls margin-10px-top font-size14">12:00-1:00</div>
                        </td>
                        <td>
                            <span class="english_cls bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                            <span id="sci_sub1" class=" bg-primary padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Science Teacher Substitute</span>
                            <span class="english_leave_fri_cls bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Leave</span>
                            <span class="english_avalableslot_fri_cls bg-orange padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13" style="display:none;">Available slot</span>
                            <div class="english_cls margin-10px-top font-size14">1:00-2:00</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        //

        $(".dropdown-menu a").click(function () {
            var txt = $(this).text();
            $("#dropdownMenuButton").text(txt);

            if (txt == "English Teacher" || txt == "Math Teacher" || txt == "Science Teacher")
                $("#leaveOnID").show();
            else
                $("#leaveOnID").hide();

            //if (txt == "Student")
            //    $("#tableviewID").show();

            if (txt != "Sectional head and principal")
                $("#tableviewID").show();
            else
                $("#tableviewID").hide();

            if (txt == "English Teacher") {
                $(".science_cls").hide();
                $(".english_cls").show();
                $(".math_cls").hide();
            } else if (txt == "Math Teacher") {
                $(".science_cls").hide();
                $(".english_cls").hide();
                $(".math_cls").show();
            }
            else if (txt == "Science Teacher") {
                $(".science_cls").show();
                $(".english_cls").hide();
                $(".math_cls").hide();
            } else if (txt == "Student") {
                $(".science_cls").show();
                $(".english_cls").show();
                $(".math_cls").show();
            }
            else if (txt == "Sectional head and principal") {
                $.ajax({
                    url: '../Home/CheckIfThereIsAvailableSlot',
                    type: "GET",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    data: {
                    }, success: function (data) {
                        if (data == "clean")
                            alert("everything is okay.");
                        else
                            alert("no teachers are available with a free period");
                    }, error: function (xhr, status, error) {
                        if (xhr.status !== 401 && xhr.status !== 403)
                            alert("Error");
                    }
                });
            }

            //science_cls english_cls math_cls

            getUserDetails();

            //check if teacher have leaves


            checkIfHaveAvailableSlot();
        });

        $("#savechanges_id").click(function () {
            var role = $("#dropdownMenuButton").text();
            var isMonday = "0";
            var isWednesday = "0";
            var isFriday = "0";

            if ($("#Mon_checkbox").prop("checked") == true)
                isMonday = 1;
            else if ($("#Mon_checkbox").prop("checked") == false)
                isMonday = 0;

            if ($("#Wed_checkbox").prop("checked") == true)
                isWednesday = 1;
            else if ($("#Wed_checkbox").prop("checked") == false)
                isWednesday = 0;

            if ($("#Fri_checkbox").prop("checked") == true)
                isFriday = 1;
            else if ($("#Fri_checkbox").prop("checked") == false)
                isFriday = 0;

            //Mon_checkbox Wed_checkbox Fri_checkbox

            $.ajax({
                url: '../Home/SaveLeave',
                type: "POST",
                async: false,
                //dataType: "json",
                data: {
                    role: role,
                    isMonday: isMonday,
                    isWednesday: isWednesday,
                    isFriday: isFriday
                }, success: function (data) {
                    //SRMT_OBJ = data;
                }, error: function (xhr, status, error) {
                    if (xhr.status !== 401 && xhr.status !== 403)
                        alert("Error");
                }
            });

            getUserDetails();
        });

        function getUserDetails() {
            var role = $("#dropdownMenuButton").text();

            $("#Mon_checkbox").prop("checked", false);
            $("#Wed_checkbox").prop("checked", false);
            $("#Fri_checkbox").prop("checked", false);

            $(".english_leave_mon_cls").hide();
            $(".english_leave_wed_cls").hide();
            $(".english_leave_fri_cls").hide();

            $(".math_leave_mon_cls").hide();
            $(".math_leave_wed_cls").hide();
            $(".math_leave_fri_cls").hide();

            $(".science_leave_mon_cls").hide();
            $(".science_leave_wed_cls").hide();
            $(".science_leave_fri_cls").hide();

            if (role != "Student") {
                details(role);
            }
            else if (role == "Student") {
                details("English Teacher");
                details("Math Teacher");
                details("Science Teacher");
            }
        }

        function details(role) {
            $.ajax({
                url: '../Home/GetUserDetails',
                type: "GET",
                async: false,
                dataType: "json",
                contentType: "application/json",
                data: {
                    role: role
                }, success: function (data) {
                    if (data != "") {

                        var arrayTest = [];
                        $.each(data, function (index, value) {
                            if (index == "leaveOnMonday" && value == 1) {
                                $("#Mon_checkbox").prop("checked", true);

                                if (role == "English Teacher")
                                    $(".english_leave_mon_cls").show();
                                else if (role == "Math Teacher")
                                    $(".math_leave_mon_cls").show();
                                else if (role == "Science Teacher")
                                    $(".science_leave_mon_cls").show();
                            }
                            else if (index == "leaveOnWednesday" && value == 1) {
                                $("#Wed_checkbox").prop("checked", true);

                                if (role == "English Teacher")
                                    $(".english_leave_wed_cls").show();
                                else if (role == "Math Teacher")
                                    $(".math_leave_wed_cls").show();
                                else if (role == "Science Teacher")
                                    $(".science_leave_wed_cls").show();
                            }
                            else if (index == "leaveOnFriday" && value == 1) {
                                $("#Fri_checkbox").prop("checked", true);

                                if (role == "English Teacher")
                                    $(".english_leave_fri_cls").show();
                                else if (role == "Math Teacher")
                                    $(".math_leave_fri_cls").show();
                                else if (role == "Science Teacher")
                                    $(".science_leave_fri_cls").show();
                            }
                        });
                    }
                }, error: function (xhr, status, error) {
                    if (xhr.status !== 401 && xhr.status !== 403)
                        alert("Error");
                }
            });
        }

        function checkIfHaveLeave() {

        }

        function checkIfHaveAvailableSlot() {

            $(".english_avalableslot_mon_cls").hide();
            $(".english_avalableslot_wed_cls").hide();
            $(".english_avalableslot_fri_cls").hide();

            $(".math_avalableslot_mon_cls").hide();
            $(".math_avalableslot_wed_cls").hide();
            $(".math_avalableslot_fri_cls").hide();

            $(".science_avalableslot_mon_cls").hide();
            $(".science_avalableslot_wed_cls").hide();
            $(".science_avalableslot_fri_cls").hide();

            $("#eng_sub1").hide();
            $("#sci_sub1").hide();

            //english_avalableslot_fri_cls
            var role = $("#dropdownMenuButton").text();

            if (role == "Student") {
                details2("Math Teacher");
                details2("English Teacher");
                details2("Science Teacher");
            }

            //if (role == "English Teacher") {
            //    details2("Math Teacher");
            //    details2("Science Teacher");
            //}
            //else if (role == "Math Teacher") {
            //    details2("English Teacher");
            //    details2("Science Teacher");
            //}
            //else if (role == "Science Teacher") {
            //    details2("Math Teacher");
            //    details2("English Teacher");
            //}
        }

        function details2(role) {

            //var arrayTest = [];
            var Role = "";
            var LeaveOnMonday = "";
            var LeaveOnWednesday = "";
            var LeaveOnFriday = "";
            var SubstituteTeacherOnMonday = "";
            var SubstituteTeacherOnWednesday = "";
            var SubstituteTeacherOnFriday = "";
            var count = 0;

            $.ajax({
                url: '../Home/GetUserDetails',
                type: "GET",
                async: false,
                dataType: "json",
                contentType: "application/json",
                data: {
                    role: role
                }, success: function (data) {
                    if (data != "") {

                        $.each(data, function (index, value) {
                            //arrayTest.push(value);
                            if (count == 0)
                                Role = value;
                            else if (count == 1)
                                LeaveOnMonday = value;
                            else if (count == 2)
                                LeaveOnWednesday = value;
                            else if (count == 3)
                                LeaveOnFriday = value;
                            else if (count == 4)
                                SubstituteTeacherOnMonday = value;
                            else if (count == 5)
                                SubstituteTeacherOnWednesday = value;
                            else if (count == 6)
                                SubstituteTeacherOnFriday = value;
                            // alert(count)

                            count++;
                        });
                        //alert(Role + " " + LeaveOnMonday + " " + LeaveOnWednesday + " " + LeaveOnFriday + " " + SubstituteTeacher)
                    }
                }, error: function (xhr, status, error) {
                    if (xhr.status !== 401 && xhr.status !== 403)
                        alert("Error");
                }
            });
            //alert(Role + " " + LeaveOnMonday + " " + LeaveOnWednesday + " " + LeaveOnFriday + " " + SubstituteTeacher)

            if (SubstituteTeacherOnMonday == "" || SubstituteTeacherOnMonday == null || SubstituteTeacherOnMonday == "null")
                SubstituteTeacherOnMonday = "Available slot";
            else
                SubstituteTeacherOnMonday = SubstituteTeacherOnMonday + " " + "Substitute";

            if (SubstituteTeacherOnWednesday == "" || SubstituteTeacherOnWednesday == null || SubstituteTeacherOnWednesday == "null")
                SubstituteTeacherOnWednesday = "Available slot";
            else
                SubstituteTeacherOnWednesday = SubstituteTeacherOnWednesday + " " + "Substitute";

            if (SubstituteTeacherOnFriday == "" || SubstituteTeacherOnFriday == null || SubstituteTeacherOnFriday == "null")
                SubstituteTeacherOnFriday = "Available slot";
            else
                SubstituteTeacherOnFriday = SubstituteTeacherOnFriday + " " + "Substitute";

            if (LeaveOnMonday == 1) {
                //$("#Mon_checkbox").prop("checked", true);
                //alert(1)

                //eng_sub1
                if (Role == "English Teacher") {
                    $(".english_avalableslot_mon_cls").text(SubstituteTeacherOnMonday).show();

                    if (SubstituteTeacherOnMonday == "Math Teacher Substitute")
                        $("#eng_sub1").show();
                }
                else if (Role == "Math Teacher")
                    $(".math_avalableslot_mon_cls").text(SubstituteTeacherOnMonday).show();
                else if (Role == "Science Teacher")
                    $(".science_avalableslot_mon_cls").text(SubstituteTeacherOnMonday).show();
            }
            if (LeaveOnWednesday == 1) {
                //$("#Wed_checkbox").prop("checked", true);

                if (Role == "English Teacher")
                    $(".english_avalableslot_wed_cls").text(SubstituteTeacherOnWednesday).show();
                else if (Role == "Math Teacher")
                    $(".math_avalableslot_wed_cls").text(SubstituteTeacherOnWednesday).show();
                else if (Role == "Science Teacher") {
                    $(".science_avalableslot_wed_cls").text(SubstituteTeacherOnWednesday).show();
                    if (SubstituteTeacherOnWednesday == "English Teacher Substitute")
                        $("#sci_sub1").show();
                }

            }
            if (LeaveOnFriday == 1) {
                // $("#Fri_checkbox").prop("checked", true);

                if (Role == "English Teacher")
                    $(".english_avalableslot_fri_cls").text(SubstituteTeacherOnFriday).show();
                else if (Role == "Math Teacher")
                    $(".math_avalableslot_fri_cls").text(SubstituteTeacherOnFriday).show();
                else if (Role == "Science Teacher")
                    $(".science_avalableslot_fri_cls").text(SubstituteTeacherOnFriday).show();
            }
        }
            //
    </script>
</body>
</html>






<script>
    //reference
    // https://www.bootdey.com/snippets/view/time-table#html
</script>